{% extends "account/base.html" %}

{% block content %}

<style>

    .register-form-container {
        display: flex;
        justify-content: center;
        align-items: center;
        /*height: 80vh;*/
        /*margin-bottom: 40px;*/
    }

    .register-form {
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 30px;
        background-color: #f9f9f9;
        border: 1px solid #ddd;
        border-radius: 8px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
        width: 300px;
    }

    .register-form input,
    .register-form button {
        padding: 10px;
        font-size: 1rem;
    }

    .register-form button {
        background-color: #4CAF50;
        color: white;
        border: none;
        cursor: pointer;
    }

    .register-form button:hover {
        background-color: #45a049;
    }

    .banner {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f9f9f9;
        border: 1px solid #ddd;
        border-radius: 8px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
        padding: 20px 30px;
        margin: 60px auto 20px auto;
        margin-top: 10px;
        width: fit-content;
        max-width: 90%;
    }

    .banner p {
        margin: 0;
        font-size: 1.2rem;
        color: #333;
        font-weight: bold;
    }

    .page-container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* vertical */
    align-items: center;     /* horizontal */
    min-height: 80vh;       /* full screen height */
    gap: 30px;               /* space between banner and form */
    }

</style>

<div class="page-container">
    <div class="banner">
        <p>Welcome To The Personal Finance App</p>
    </div>

    <div class="register-form-container">
        <form method="POST" action="{% url 'register-view' %}" class="register-form">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Pick your Username" />
            <input type="email" name="email" placeholder="Your Email" />
            <input type="password" name="password" placeholder="Your Password" />
            
            
            <button type="submit">Register</button>
        </form>
    </div>
</div>


{% endblock content %}